.container {
	background-image: url(https://www.nawpic.com/media/2020/iphone-4k-nawpic-10.jpg);
  }
    
  /* ICONS */
  .header-icons a {
	color: rgb(5, 5, 5);
	font-size: 30px;
	padding: 10px; 
  }
  /*ICONS*/
  
  /* skills*/
  .skills-section .skill-tag {
	box-shadow: 0 1px 4px 0 rgba(107, 179, 131, 0.781);
	border: 1px solid #05050575;
	padding: 6px 30px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
	border: 1px solid #05050575;
  }
  /* skills*/
  
  .card {
	padding: 6px 30px 30px;
	box-shadow: 0 1px 4px 0 rgba(107, 179, 131, 0.781);
	border: 1px solid #05050575;
  }
    
  .jumbotron {
	border: 1px solid #05050575;
  }

  #habilidades{
	border: 1px solid #05050575;
  } 

  #formação{
	border: 1px solid #05050575;
  }

  footer{
	border: 1px solid #05050575;
  }
  
  /* btn whatsapp*/

  .whatsapp {	
	animation: pulse 0.7s infinite;
	margin: 0 auto;
	display: table;
	margin-top: 50px;
	animation-direction: alternate;
	-webkit-animation-name: pulse;
	animation-name: pulse;
 }
	  
	@-webkit-keyframes pulse {
	0% {
    -webkit-transform: scale(1);
	-webkit-filter: brightness(100%);
	}
	100% {
	-webkit-transform: scale(1.1);
	-webkit-filter: brightness(200%);
	}
  }
	  
	@keyframes pulse {
	0% {
	    transform: scale(1);
		  filter: brightness(100%);
		}
	100% {
		transform: scale(1.1);
		filter: brightness(200%);
	}
};


