

/* ICONS */
.header-icons a { 
	color:rgb(5, 5, 5); 
	font-size: 30px;
	padding: 10px;
}
/*ICONS*/

/* skills*/  
  .skills-section .skill-tag {
	box-shadow: 1px 1px 4px  rgba(41, 253, 13, 0.301);
	border: 1px solid #000000fd;
	border-radius: 5px;
	padding: 5px 35px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
	text-align: center;
	
	
  }
/* skills*/  

.card {
	text-align: center;
	box-shadow: 0 1px 4px 0 rgb(41, 253, 13);
	border: 1px solid #000000fd;
}   

.footer{
	text-align: center;
	box-shadow: 0 1px 4px 0 rgb(41, 253, 13);
	border: 1px solid #000000fd;
	
}

.jumbotron{
	box-shadow: 0 1px 4px 0 rgb(41, 253, 13);
	border: 1px solid #000000fd;
}


